html{
    background-image: url("../../images/background1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.admincp_list{
    padding: 0;
    list-style: none;
    margin: 0;
}
ul.admincp_list li{
    float: left;
    margin: 5px;
}
.clear{
    clear: both;
}
.title_admin{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    margin-bottom: 10px;
}
.wrapper{
    width:95%;
    border: 1px solid rgba(213, 211, 211, 0.768);
    border-radius: 10px;
    margin: 0 auto;
    height: auto;
}
.logout a{
    line-height: 1.1;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.172);
}
